body{
	height: 100%;
	width: 100%;
	background-color: black;
}

.size{
	height: 70%;
}

.bounce{
/*	animation-delay: 3.5s;
 *	
 */
	animation: bounce 1.5s infinite;

}
.down-icon{
	//color: #2196F3;
	cursor: pointer;
	color: #039BE5; 
	font-size: 2em;
	opacity: 0;
	animation-name: down-button-loader;
        animation-property: opacity;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	/*animation-delay: 1.5s;
	 * 
	 */
	animation-duration: 2s;
}
@keyframes bounce{
	0%, 20%, 50%, 80%, 100%{
		transform: translateY(0);
	}
	40%{
		transform: translateY(-30px);
	}
	60%{
		transform: translateY(-15px);
	}

}
.typing{
	text-align: right;
	margin-bottom: 7%;
}
.element{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: 300;
	font-size: 15vmax;
	text-align: right;
}
.typed-cursor {
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15vmax;
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite;
}
.hide-typing.ng-hide-add{
  -webkit-animation:0.5s fadeOutUp;
  animation:0.5s fadeOutUp;
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
		
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}


@-webkit-keyframes fadeOutUp {
	from {
		opacity: 1;
		
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}
@media screen and (max-width: 500px){
	.element{
		font-size: 100px;
	}
	.typed-cursor{
		font-size: 100px;
	}
	
}
@keyframes down-button-loader{
	from{
		opacity: 0;
	}
	to{
		opacity:1;
	}
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*
 * animation for the down button to the loader
 */

.size.ng-hide-add{
	-webkit-animation: 1s fadeToCenter;
	animation: 1s fadeToCenter;
}
.to-loader.ng-hide-add{
	position: static;
	//animation-delay: 0.4s;
	-webkit-animation: 1.2s fadeToCenter;
	animation: 1.4s fadeToCenter;
}
@keyframes fadeToCenter{
	from{
		opacity: 1;
	}
	to{
		color: white;
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);

		transform: translate3d(0, -100%, 0);
}
}

/*
Stuff for the website animation loader
*/


.loader {
  height: 100px;
  width: 1vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes appear{
	from {
		opacity: 1
	}
	to {
		opacity: 0;
	}
}
.loader--dot {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  //border: 2px solid white;
  background-position: 50%;
 // background: white;
}
.loader--dot:first-child {
  height: 200px;
  width: 200px;
  background-size: contain;
  animation-delay: 7s;
  z-index: 1;
  //border: 2px solid black;
  //background: #E5E5E5;
  //box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
  background-position: 50%;
  animation-delay: 0.7s;
  animation-name: loaderx;
  animation-duration: 0.5s;
  animation-property: opacity;
  animation-timing-function: ease-in;
  animation-fill-mode: both;

}
.loader--dot:first-child img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  animation-delay: 0.5s;
  animation-name: loader1;
  animation-duration: 2s;
  animation-property: opacity;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.loader--dot:nth-child(2) {
  animation-delay: 0.5s;
  z-index: 0;
  text-align: center;
  display: block;
  animation-name: loader2;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.loader--dot:nth-child(2) i {
  verticle-align: middle;
  height: inherit;
  margin: 0 auto;
  font-size: 6.25em;
}
.loader--dot:nth-child(3) {
  animation-delay: 0.5s;
  z-index: 0;
  text-align: center;
  display: block;
  animation-name: loader3;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.loader--dot:nth-child(3) i {
  verticle-align: middle;
  height: inherit;
  padding-top: 10%;
  margin: 0 auto;
  font-size: 4.5em;
}
.loader--dot:nth-child(4) {
  animation-delay: 0.5s;
  z-index: 0;
  text-align: center;
  display: block;
  animation-name: loader4;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-align-content: center;
}
.loader--dot:nth-child(4) i {
  verticle-align: middle;
  height: inherit;
  margin: 0 auto;
  padding-top: 10%;
  font-size: 4.5em;
}
.loader--dot:nth-child(5) {
  animation-delay: 0.5s;
  z-index: 0;
  text-align: center;
  display: block;
  animation-name: loader5;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.loader--dot:nth-child(5) i {
  verticle-align: middle;
  height: inherit;
  margin: 0 auto;
  padding-top: 10%;
  font-size: 4.5em;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes loaderx{
	from{
	}
	to{
		border: 2px solid white;

  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
  }
}
@keyframes loader1 {
  from {
    opacity: 0;
    background: black;
  }
  to {
	  
    //border: 2px solid white;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
    opacity: 1;
    background: white;
  }
}
@keyframes loader2 {
  from {
    transform: translateX(0);
    //background: #E5E5E5;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
  }
  to {
	  background: white;
    transform: translateX(200px);
  }
}
@keyframes loader3 {
  from {
    transform: translateX(0);
    //background: #E5E5E5;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
  }
  to {
    background: white;
    //border: 2px solid white;
    opacity: 1;
    transform: translateX(-200px);
  }
}
@keyframes loader4 {
  from {
    transform: translateX(0);
    //background: #E5E5E5;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
  }
  to {
    background: #E5E5E5;
    transform: translateX(-400px);
  }
}
@keyframes loader5 {
  from {
    transform: translateX(0);
    //background: #E5E5E5;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
  }
  to {
    background: #E5E5E5;
    transform: translateX(400px);
  }
}


